asgiref==3.8.1
cffi==1.17.1
cryptography==44.0.2
Django==5.2
django-axes==8.0.0
django-extensions==4.1
django-taggit==6.1.0
easy-thumbnails==2.10
ecdsa==0.19.1
Markdown==3.8
MarkupSafe==3.0.2
pillow==11.2.1
psycopg2==2.9.10
pycparser==2.22
Pygments==2.19.1
pyOpenSSL==25.0.0
python-http-client==3.3.7
sendgrid==6.12.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
Werkzeug==3.1.3
