{% extends "blog/base.html" %}

{% block title %}People{% endblock %}

{% block content %}
    <h1>People</h1>
    <div id="people-list">
        {% for user in users %}
        <div class="user">
            <a href="{{ user.get_absolute_url }}">
                {% if user.profile and user.profile.photo %}
                    <img src="{{ user.profile.photo_thumbnail.url }}" alt="User photo">
                {% else %}
                    <img src="/media/profile_pictures/no_img.jpeg" alt="Default photo">
                {% endif %}
            </a>
            <div class="info">
                <a href="{{ user.get_absolute_url }}" class="title">
                    {{ user.get_full_name }}
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
